.usertable {
  margin-top: 150px;
}
.text {
  color: rgb(59, 59, 59);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 38px;
}

h4 {
  color: #4e4b4b;
  margin-bottom: 50px;
}
thead {
  background-color: #000;
  width: 200px;
}
th {
  color: #fff;
}

.btn-secondary {
  color: #fff;
  background-color: #008db1;
  border-radius: 15px;
  border-color: #008db1;
  margin-top: 50px;
}

td li {
  list-style-type: none;
  margin: auto;
  display: block;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

.td-1 {
  border-right: #dacdcd 1px solid;
  border-left: #dacdcd 1px solid;
}

tr {
  border-bottom: #dacdcd 1px solid;
}
.score {
  font-size: 1px;
}
.table-header {
  margin-top: 25%;
}
